@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

body {
  height: 100dvh;
  width: 100%;
}

html {
  font-size: 62.5%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  -webkit-border-radius: 1rem;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 1rem;
  border-radius: 1rem;
  background: var(--primary-color); 
}

p, a{
  font-size: 1.4rem;
}
.alert{
  width: 100%;
  font-size: 1.4rem;
}
.alert a{
  font-size: 1.2rem !important;
}
.main{
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
}